html,
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Nexa-Bold;
}

p {
  font-family: Nexa-Regular;
  font-size: 20px;
  color: #ffffff;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Nexa-Regular;
  src: url("./../Fonts/NexaRegular.otf");
}
@font-face {
  font-family: Nexa-Light;
  src: url("./../Fonts/NexaLight.otf");
}
@font-face {
  font-family: Nexa-Bold;
  src: url("./../Fonts/NexaBold.otf");
}

.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("./Images/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.home-head {
  font-size: 60px;
  margin: 0;
  color: #ffffff;
  width: fit-content;
}

#home-head {
  font-size: 30px;
}

#sub-head {
  font-size: 17px;
}

.head-container {
  display: flex;
  width: 100%;
  padding: 25px;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: auto;
}

.head-container a {
  color: #ffffff;
}

.home-subhead {
  font-size: 35px;
  margin: 0;
  color: #ffffff;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.home-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  box-sizing: border-box;
  align-self: flex-end;
  padding: 25px;
  padding-left: 45px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
}

#home-nav {
  display: none;
  width: max-content;
}

.home-nav > a {
  font-family: Nexa-Bold;
  font-size: 25px;
  color: #ffffff;
  align-self: flex-start;
  margin-top: 30px;
  padding-right: 100px;
}

.home-nav > a:hover {
  color: #4ca541;
}

.welcome {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bg-dark-overlay{
  z-index: 3;
}

.mode-display{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #111111;
  width: 500px;
  color: #ffffff;
  padding: 45px 30px;
  padding-bottom: 30px;
  font-family: Nexa-regular;
  font-size: 20px;
  border-radius: 5px;
  z-index: 2;
}

.mode-display form{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mode-display input{
  background-color: transparent;
  color: #ffffff;
  font-family: Nexa-Regular;
  font-size: 25px;
  border: 0;
  border-bottom-color: #4ca541;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.mode-display-input::placeholder{
  color: #ff0000;
}

.mode-display button{
  color: #4ca541;
  background-color: transparent;
  font-family: Nexa-Bold;
  font-size: 25px;
  margin: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #4ca541;
  box-sizing: border-box;
  width: 120px;
  border-radius: 3px;
}

.mode-display div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Nexa-Bold;
  font-size: 25px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.mode-display a{
  display: inline-block;
  color: #4ca541;
  font-family: Nexa-Regular;
  font-size: 25px;
  margin: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: #4ca541;
  box-sizing: border-box;
  width: 150px;
  border-radius: 3px;
}

.category-selection {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 4;
  width: max-content;
}

.category-selection h1 {
  color: #ffffff;
  text-align: center;
}

.category-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.category-button {
  border: 0;
  width: fit-content;
  margin-top: 30px;
  text-align: center;
  font-family: Nexa-Bold;
  font-size: 25px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  background-color: #4ca541;
  border-radius: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

.button-container-home {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.home-play-button {
  width: 120px;
  margin-top: 30px;
  text-align: center;
  font-family: Nexa-Bold;
  font-size: 25px;
  padding: 10px;
  color: #ffffff;
  background-color: #4ca541;
  border-radius: 35px;
}

.home-howtoplay-button {
  width: 200px;
  margin-top: 30px;
  text-align: center;
  font-family: Nexa-Bold;
  font-size: 25px;
  padding: 10px;
  background-color: #00000050;
  color: #4ca541;
  border-color: #4ca541;
  border-width: 5px;
  border-style: solid;
  border-radius: 35px;
}

@media only screen and (max-width: 600px) {
  .category-button-container {
    flex-direction: column;
  }

  .category-selection {
    width: 90%;
  }

  .category-button{
    width: 160px;
  }

  .home-head {
    font-size: 35px;
  }

  .home-subhead {
    font-size: 25px;
    letter-spacing: normal;
  }

  #home-nav {
    width: 100%;
    padding: 25px;
  }
  .home-nav > a {
    font-size: 22px;
    align-self: center;
    padding: 0;
  }

  .button-container-home {
    flex-direction: column;
  }

  .mode-display{
    width: 75%;
    padding: 30px;
    padding-top: 45px;
  }

  .mode-display button{
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
  }

  #join-form{
    flex-direction: column;
  }

  #join-form-input{
    width: 95%;
  }
}

.about-us {
  background-color: #06060c;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #00ffff;
  border-style: solid;
  border-width: 3px;
  width: 80%;
  padding: 40px;
  box-sizing: border-box;
}

#team {
  margin-top: 20px;
}

.about-head {
  font-family: Nexa-Regular;
  font-size: 40px;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  width: fit-content;
  box-sizing: border-box;
}

.about-desc {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  justify-content: center;
  font-family: Nexa-Light;
  font-size: 30px;
  color: #ffffff;
  box-sizing: border-box;
  margin-top: -25px;
}

.person {
  display: flex;
  flex: 0.5;
  flex-basis: 45%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  margin: 20px;
}

.avatar {
  height: 200px;
}

.name,
.position {
  margin: 0;
  padding: 5px;
  padding-left: 25px;
}
.position {
  font-weight: normal;
  font-family: Nexa-Regular;
  line-height: 1.6;
}

@media only screen and (max-width: 600px) {
  .about-head {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
  }

  .about-desc {
    width: 100%;
    margin-left: 0;
    justify-content: center;
  }

  .about-container {
    width: 90%;
    padding: 30px;
  }

  #team {
    padding: 30px 40px;
    margin: 0;
    margin-top: 30px;
  }

  .person {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .avatar {
    margin-bottom: 20px;
  }

  .name {
    font-size: 35px;
  }
  .position{
    font-size: 19.25px;
  }

  .name,
  .position {
    padding: 0;
    text-align: center;
  }
}

.upload-page {
  background-color: #171717;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-head {
  color: #ffffff;
}

.upload-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.upload-input {
  background-color: #090909;
  font-family: Nexa-Regular;
  font-size: 28px;
  color: #ffffff;
  border: 0;
  padding: 10px;
  padding-left: 15px;
  width: 50vw;
  box-sizing: border-box;
}

.upload-input-option {
  font-family: Nexa-Regular;
  font-size: 28px;
  color: #ffffff;
  border: 0;
  padding: 10px;
}

#clue-input,
#answer-input {
  text-transform: capitalize;
}
.links-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.add-button {
  border: 0;
  padding: 10px;
  color: #ffffff;
  margin-top: 20px;
}
.remove-button {
  border: 0;
  padding: 10px;
  color: #ffffff;
  margin-left: 20px;
  position: absolute;
  transform: translateX(calc(25vw + 20px));
}

.upload-button {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #4ca541;
  border-radius: 25px;
  width: 150px;
  color: #ffffff;
  border: 0;
  padding: 10px;
  align-self: center;
  font-family: Nexa-Bold;
  font-size: 25px;
}

@media only screen and (max-width: 600px) {
  .upload-head {
    font-size: 25px;
  }

  .upload-input {
    font-size: 18px;
    width: 75vw;
  }

  #remove-button {
    transform: translateX(calc(37.5vw + 10px));
    width: 20px;
  }

  .upload-button {
    font-family: Nexa-Regular;
    font-size: 18px;
    width: 120px;
  }
}

.bg-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  z-index: 1;
}

.play-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./Images/bg5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.play-page-head {
  color: #ffffff;
  font-size: 35px;
}

.play-sub-head {
  color: #ffffff;
  font-weight: normal;
  font-family: Nexa-Regular;
  margin: 0;
  margin-bottom: 20px;
}

.time-up-display{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #111111;
  width: 320px;
  color: #ffffff;
  padding: 45px;
  padding-bottom: 30px;
  font-family: Nexa-regular;
  font-size: 20px;
  border-radius: 5px;
  z-index: 2;
}

#time-up-display h1{
  text-align: center;
  margin: 10px;
  font-family: Nexa-Regular;
  font-size: 40px;
}

#time-up-display div{
  text-align: center;
  font-family: Nexa-Regular;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #4ca541;
  width: max-content;
}

#time-up-display svg{
  font-size: 70px;
  color: #ff0000;
  padding: 20px;
}

.play-images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

.single-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  flex: 0 0 25%;
  min-width: 200px;
  box-sizing: border-box;
  padding: 5px;
  padding-bottom: 10px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 15px;
}

.play-images {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  object-fit: fill;
  box-sizing: border-box;
  border-color: #4ca541;
  border-style: solid;
  border-width: 3px;
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.answer-button {
  border: 0;
  margin-top: 30px;
  text-align: center;
  font-family: Nexa-Bold;
  font-size: 25px;
  padding: 10px;
  color: #ffffff;
  background-color: #4ca541;
  border-radius: 35px;
}

#connect {
  width: 150px;
  margin-right: 10px;
}

#next-button {
  width: 110px;
}

.play-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}

.play-answer {
  background-color: #090909;
  font-family: Nexa-Regular;
  font-size: 28px;
  color: #ffffff;
  border: 0;
  padding: 10px;
  padding-left: 15px;
  width: 50vw;
  box-sizing: border-box;
  margin-top: 25px;
}

.play-images-number {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  color: #ffffff;
  font-family: Nexa-Regular;
  text-align: center;
}

.toast-correct {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4ca541;
  color: #ffffff;
  text-align: center;
  width: 300px;
  padding: 10px;
  font-family: Nexa-regular;
  font-size: 20px;
  border-radius: 5px;
}

.toast-incorrect {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #f44336;
  color: #ffffff;
  text-align: center;
  width: 300px;
  padding: 10px;
  font-family: Nexa-regular;
  font-size: 20px;
  border-radius: 5px;
}

.hold-on-info {
  display: none;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2e8843;
  color: #ffffff;
  text-align: center;
  width: 380px;
  padding: 10px;
  font-family: Nexa-regular;
  font-size: 20px;
  border-radius: 5px;
}

.answer-display {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #111111;
  width: 320px;
  color: #ffffff;
  padding: 45px 30px;
  padding-bottom: 30px;
  font-family: Nexa-regular;
  font-size: 20px;
  border-radius: 5px;
  z-index: 2;
}

.play-again {
  width: 180px;
  text-align: center;
  font-family: Nexa-Bold;
  font-size: 25px;
  padding: 10px;
  color: #ffffff;
  background-color: #4ca541;
  border-radius: 35px;
}

.play-popup-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./Images/bg5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.play-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
  background-color: #151515;
}

.play-popup > h1 {
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.play-popup > p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;
  padding-top: 0;
}

.play-popup > svg {
  padding: 25px;
  align-self: flex-end;
}

@media only screen and (max-width: 600px) {
  /* .play-page{
        justify-content: space-evenly;
    } */
  .play-images {
    object-fit: cover;
  }

  .play-page-head {
    font-size: 25px;
  }

  .play-sub-head {
    margin-bottom: 10px;
  }

  .play-images-container {
    width: 90%;
    margin-top: 25px;
  }

  .single-image-container {
    min-width: 300px;
    padding: 5px;
    padding-bottom: 15px;
  }

  .play-answer {
    width: 80vw;
    font-size: 22px;
  }

  #button-container {
    flex-direction: column;
  }

  .toast-correct,
  .toast-incorrect {
    right: 0;
    right: 50%;
    transform: translateX(50%);
  }

  .answer-display {
    width: 220px;
    padding: 35px 25px;
    padding-bottom: 25px;
    font-size: 15px;
  }

  .answer-button {
    font-size: 20px;
    margin-top: 20px;
  }

  #show-answer {
    width: 200px;
  }

  .hold-on-info {
    font-size: 16px;
    width: 300px;
  }

  .play-popup {
    width: 90%;
  }

  .play-popup > h1 {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .play-popup > p {
    font-size: 20px;
    flex-direction: column;
  }

  .time-up-display{
    width: 70%;
  }

  #time-up-display h1{
    display: block;
    font-size: 30px;
  }

  #time-up-display div{
    flex-direction: row;
    box-sizing: border-box;
    font-size: 20px;
    margin: 5px;
  }

  .time-up-buttons{
    border-style: solid;
    border-width: 3px;
    border-color: #4ca541;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 20px;
  }
}

.howtoplay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./Images/bg6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding-bottom: 10px;
}

#howtolinks:hover {
  color: #ffffff;
}

.steps-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-content: center;
  padding: 0 30px;
  box-sizing: border-box;
}

.steps-container div:nth-child(1) {
  display: inline-flex;
  flex: 0.3;
  justify-content: center;
  align-items: center;
}

.howto-iframe {
  position: relative;
  height: 80vh;
  width: 30vw;
  box-sizing: border-box;
  /* pointer-events: none; */
}

.howto-iframe div {
  position: absolute;
  clip: rect(160px 30vw 80vh 10px);
  /* left: 0px; 
    top: 0px; */
}

.howto-iframe iframe {
  border: 0;
  height: 80vh;
  width: 30vw;
}

.howto-steps {
  display: flex;
  flex: 0.7;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
  box-sizing: border-box;
}

.howto-steps > h1,
.howto-steps > h2 {
  background-color: #06060cda;
  width: fit-content;
  padding: 10px;
}

.howto-steps > h2:nth-child(5) {
  background-color: #4ca541;
}

@media only screen and (max-width: 600px) {
  .steps-container {
    flex-direction: column-reverse;
    padding: 0 10px;
  }

  .howto-iframe {
    width: 92%;
    align-self: center;
  }

  .howto-steps {
    align-self: center;
  }

  .howto-steps > h1 {
    font-size: 28px;
  }

  .howto-steps > h2 {
    font-size: 21px;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #99999918;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}

.footer p {
  text-align: center;
}

.footer h5 {
  text-align: center;
  margin: 0;
  font-family: Nexa-Regular;
}

.footer p:nth-child(1) {
  margin-right: auto;
}

.icons {
  box-sizing: border-box;
  margin-left: auto;
}

.icons svg {
  color: #ffffff;
  padding-left: 20px;
}

#copyright {
  position: absolute;
  left: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .footer p {
    margin: 0;
    margin: 5px 0;
  }

  .footer p:nth-child(1) {
    margin-right: 0;
    margin-top: 10px;
  }

  #copyright {
    position: relative;
    left: 0;
    transform: none;
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  z-index: 1;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.leaderboard-page{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./Images/bg8.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.leaderboard-page h1{
  color: #4ca541;
}

.table-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
  flex-direction: column;
  background-color: #111111;
  padding: 20px;
  width: 70%;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.leaderboard-table{
  display: table;
  border: 0;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.leaderboard-table th, td{
  font-family: Nexa-Regular;
  font-size: 25px;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
}

.leaderboard-table th{
  border-bottom-color: #4ca541;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-top-color: #4ca541;
  border-top-width: 2px;
  border-top-style: solid;
}

@media only screen and (max-width: 600px) {
  .table-container{
    width: 90%;
  }
  .leaderboard-table th, td{
    font-size: 20px;
  }

}